.git
WEEK_8 - Django_Framwork(1)/Day-1/Exercice_XP_Day_1/animals-info/env
WEEK_8 - Django_Framwork(1)/Day-2/Challenge_day-1/env
WEEK_8 - Django_Framwork(1)/Day-2/Exercice_XP_Day_1/animals-info/env
WEEK_8 - Django_Framwork(1)/Day-5/Mini Project/env
