{% extends 'rent/home.html' %}

{% block title %}
    rent list
{% endblock title %}


{% block content %}
<a href=" {% url 'addRental' %} "><button class=" btn btn-info">Add Rental</button></a>
    <table class = "table table-striped table-dark table-bordered">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>Rental date</th>
            <th>Return date</th>
            <th>Action</th>
        </tr>
        {% for rental in rentals %}
        <tr>
            <td> {{rental.id}} </td>
            <td>{{ rental.client}}</td>
            <td>{{rental.rental_date}} </td>
            <td>{{rental.return_date}}</td>

            <td> <a href=" {% url 'detailRental' rental.id  %} "><button class = "btn btn-danger">Delete</button></a> </td>
        </tr>
        {% endfor %}

    
    </table>
    {% if rentals.has_previous %}
            <a href="?page=1"> <button class = "btn btn-info" > &laquo; first</button> </a>
            <a href="?page={{ rentals.previous_page_number }}"><button class = "btn btn-info" > previous</button></a>
        {% endif %}


            Page {{ rentals.number }} of {{ rentals.paginator.num_pages }}.


        {% if rentals.has_next %}
       <a href="?page={{ rentals.next_page_number }}"><button class = "btn btn-info" > next</button></a>
       <a href="?page={{ rentals.paginator.num_pages }}"><button class = "btn btn-info" > last &raquo; </button></a>
        {% endif %}

{% endblock content %}
    