<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        
        <title> {% block tilte %}Home{% endblock tilte %} </title>
        <meta name="description" content="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        {% block content %}
            <table class = "table table-striped table-dark table-bordered">
                <tr>
                    <th> ID </th>
                    <th> name </th>
                    <th> Adress</th>
                    <th>Action</th>

                </tr>
                {% for customer in customers %}
                <tr>
                    <td>{{customer.id}}</td>
                    <td>{{customer.first_name}} {{customer.last_name}} </td>
                    <td>{{customer.adress}}</td>
                    <td> <button></button>
                        
                    </td>
                </tr>
                
                {% endfor %}
            </table>
        {% endblock content %}  
        
        
        
    </body>
</html>